<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
    <title>360 degree</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aframe/1.0.4/aframe.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
	</script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
	</script> 
</head> 
<body> 

	{% for hotel in hotel_images %}
			<div class="col-md-4">
                {{hotel.name}}
                <a-scene>
                    <img  id ="panaroma" src="{{hotel.hotel_Main_Img.url}}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" >
					 <a-sky src="#panaroma" rotation="0 -90 0"></a-sky>
				</a-scene>
			</div> 
            
	{% endfor %}

</body> 
</html> 
